<header>
  <div class="wrapper">
    <h1 class="logo">Isaac Nderi Onyango</h1>
    <nav class="main-nav">
      <ul>
        <li><a href="#"><i class="fa fa-home nav-icon"></i>Home</a></li>

        <li><%= link_to "Languages", languages_path %></li>


        <li><%= link_to "Blogs", blogs_path %></li>
        
        <li><a href="#"><i class="fa fa-envelope nav-icon"></i>Contacts</a></li>
        <li><%= link_to "Sign-Up", new_user_registration_path,method: :get %></li>
        <li><%= link_to "Sign-Out", destroy_user_session_path, method: :delete %></li>
      </ul>
    </nav>
    
    <div class="menu-toggle">
      <div class="hamburger"></div>
    </div>
    
  </div>
</header>
<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<div class="row">
  <div class="col-md-7">
    <div class="img">
      <%= image_tag "iyke.jpg" %>
   </div>
  </div>
  <div class="me col-md-5">
    <h4>About Me</h4>
   <p>I am a Full stack Web Developer</p>

   <p>An Amateur Photographer</p>

   <p>Also a lover of life</p>

   Take a look at some of my projects <%= link_to "Languages", languages_path %>
  </div>

</div>

<div class="container-fluid">


<p></p>
</div>