<h1><%= @language.name %></h1>

 <% if @language.projects.any? %>
    <h4>Here are the projects for this language:</h4>

    <ul>
      <% @language.projects.each do |project| %>
        <li>
          <%= project.description %> 
          <% if current_user && current_user.is_admin? %>
            <%= link_to "Edit", edit_language_project_path(@language, project) %> |
            <%= link_to "Delete", language_project_path(@language, project),
                                   :data => {:confirm => "Are you sure?",
                                                  :method => "delete"} %>
          <% end %>                                        
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no projects yet!</p>
  <% end %>
<% if current_user && current_user.is_admin? %>
  <p><%= link_to "Add a project", new_language_project_path(@language) %></p>
  <p><%= link_to "Delete language", language_path(@language),
                          :data => {:confirm => "Are you sure?",
                                         :method => "delete"} %></p>
<% end %>   

	<p><%= link_to "Return to Languages", languages_path %></p>